* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
/* estilos de columnas --------------------------*/
[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}




/*se realiza la operacion (n/12)*100*/
.col-1{
  width: 8.333%;
}

.col-2{
  width: 16.666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5{
  width: 41.666%;
}
.col-6{
  width: 50%;
}.col-7{
  width: 58.333%;
}.col-8{
  width:
   66.666%;
}.col-9{
  width: 75%;
}
.col-10{
  width: 83.333%;
}
.col-11{
  width: 91.666%;
}
.col-12{
  width: 100%;
}
/*Estilos de filas-----------------------------*/
.row::before, .row:after{
  content: "";
  display: table;
}
.row::after {
  clear: both;
}


/*Estilos de header*/

header{
  background-color: #FF6309;
}
.color{
  background-color: red;
  padding: 1% 1%;
}
.container{
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;

}

li{
  display: inline-block;
  padding: 10px;

}
a{
  text-decoration: none;
  display: block;/*nos permite definir la proporcion de crecimiento*/
  padding: 5% 5%;

  font-size: 100%;
  font-weight: bold;
  color: black;

}
/*a:hover{
  background-color: blue;
}*/


/*utilizar @media queries que sirven como condicciones*/
@media (max-width:1000px){
  header{
    display: block;
    font-size: 80%;

  }
  .container{
    font-size: 80%;
  }
}
