* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* estilos de columnas --------------------------*/
[class*="col-"]{
  min-height: 0px;
  padding: 0px;
  float: left;
}

/*se realiza la operacion (n/12)*100*/
.col-1{
  width: 8.333%;
}

.col-2{
  width: 16.666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33%;
}
.col-5{
  width: 41.666%;
}
.col-6{
  width: 50%;
}.col-7{
  width: 58.333%;
}.col-8{
  width:
   66.666%;
}.col-9{
  width: 75%;
}
.col-10{
  width: 83.333%;
}
.col-11{
  width: 91.666%;
}
.col-12{
  width: 100%;
}
/*Estilos de filas-----------------------------*/
.row::before, .row:after{
  content: "";
  display: table;
}
.row::after {
  clear: both;
}


/*Estilos de header*/
.colorBlanco{
  background-color: white;
  padding: 1% 1%;
}
.container{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  font-size: 200%;
}

li{
  display: inline-block;
  padding: 10px;
}
a{
  text-decoration: none;
  display: block;/*nos permite definir la proporcion de crecimiento*/
  padding: 5% 5%;
  font-size: 100%;
  font-weight: bold;
  color: black;
  align-self: center;
}
a:hover{
  background-color: blue;
}

/* Estilos de contenido*/
.containerContenido{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.rowImagen{
  position: relative;
}
.fondoImagen {
  width: 100%;
  height: 400px;

}
h1 {
  color: blue;
  position: absolute;
  left: 40%;
  top: 40%;
  font-size: 300%;
}

 h2, h3 {
  color: red;
  font-size: 200%;
  margin: 10px 20px 30px 40px;
}

/*estilos de area de video*/

.video{
  align-self: center;
  padding: 10px 20px 30px 40px;

}
.colorCajaContenido {
  background-color: blue;
}
.colorCajaVideo {
  background-color: yellow;
}
.colorHeaderFooter{
  background-color: #FF6309;
}

/*Estilos de formulario*/

form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.alinear{
    /* Para asegurarse que todos los tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-bottom: 10%;
}



/*utilizar @media queries que sirven como condicciones*/
@media  @media (max-width:1200px){
  header{

    font-size: 80%;
  }
  .container{
    font-size: 100%;
    background-color: pink;
  }
}
@media (min-width:1024px) and (max-width:1200px){
  header{
    font-size: 80%;
  }
  .container{

    font-size: 80%;
    background-color: blue;
  }
}
